{% extends "base.html" %} {% block content %}

<!--TODO: Display the user's name in the h1 title-->
<div class="container">
  {% if current_user.is_authenticated %}
  <h1 class="title">Welcome, {{ current_user.name }}!</h1>
  {% endif %}
  {% with messages = get_flashed_messages() %}
  {% if messages %}
    <div class="container mt-3">
      {% for message in messages %}
        <p style="color: red;">{{ message }}</p>
      {% endfor %}
    </div>
  {% endif %}
{% endwith %}
  <!--TODO: Make a GET request to the /download path-->
  <a href="{{ url_for('download') }}">Download Your File</a>
</div>
{% endblock %}
