<!doctype html>
<html>
  <head>
    <!-- prettier-ignore -->
    {% block head %}
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    {% block styles %}
    <!-- Bootstrap CSS -->
    {{ bootstrap.load_css() }} {% endblock %}

    <!-- Here the title -->
    <title>{% block title %}{% endblock %}</title>
    {% endblock %}
  </head>
  <body>
    <!-- prettier-ignore -->
    {% block content %}{% endblock %}
    <!-- prettier-ignore -->
    {% block scripts %}
    <!-- Optional JavaScript -->
    {{ bootstrap.load_js() }}
    <!-- prettier-ignore -->
    {% endblock %}
  </body>
</html>
