{% extends "base.html" %}
<!-- Title of the document -->
{% block title %}Login{% endblock %}
<!-- prettier-ignore -->
{% block content %}

<div class="container">
  <h1>Login</h1>
  <!-- This is where our form will go. -->
  <form action="{{ url_for('login')}}" method="POST" novalidate>
    <!-- prettier-ignore -->
    {{ form.csrf_token }}
    <!-- prettier-ignore -->
    {{ form.email.label }}<br />{{ form.email(size=30) }}
    <!-- prettier-ignore -->
    {% if form.email.errors %}
			{% for err in form.email.errors %}
    <!-- prettier-ignore -->
    <p style="color: red">{{ err }}</p>
    <!-- prettier-ignore -->
    {% endfor %}
    <!-- prettier-ignore -->
    {% endif %}
    <br />
    {{ form.password.label }}<br />{{ form.password(size=30) }} {% if
    form.password.errors %} {% for err in form.password.errors %}
    <p style="color: red">{{ err }}</p>
    {% endfor %} {% endif %}
    <div>{{ form.submit(style="padding:10px; margin-top:20px;") }}</div>
  </form>
</div>
{% endblock %}
