<!doctype html>
<html lang="en">
  {% include "head.html" %}
  <body>
    <!-- prettier-ignore -->
    {% include "nav.html" %}
    <!-- prettier-ignore -->
    {% block content %}{% endblock %}
    <!-- prettier-ignore -->
    {% include "footer.html" %}
    <!-- Bootstrap core JS-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
    <!-- Core theme JS-->
    <script src="{{ url_for('static', filename='js/scripts.js') }}"></script>
  </body>
</html>
